.banner{
    background-image: url(/image/keyboard1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:calc();
    padding: 280px 0;
}
.logo {
    height: 40px;
    width: 40px;
}
.video-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.video-row-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.video-container{
    flex: 1 1 30%;
    min-width: 300px;
}
.video-container {
      border: 1px solid #1c1919;
      padding: 10px; 
      width: fit-content; 
      border-radius: 10px; 
      box-shadow: 0 0 10px #eee8e84d;
}